<!DOCTYPE html>
<html lang="en" class="pico-background-pink-150">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
>
  <link rel="icon" href="{{url_for('static', filename='icon.png')}}">
  <title>Mewgle</title>
</head>
<body>
  <main class="container pico-background-pink-150" style="height: 100vh; align-content: center;">
  <img src= {{ url_for('static', filename='logo.png') }} alt="Mewgle Search" style="padding: 20px 0px;">
  <form method="post" action="{{url_for('search')}}">
    <input type="search", name="textbox", class="pico-background-purple-50", placeholder="What are you looking for...">
  </form>
  <a href="/quiz">Try our cat guessing game...</a>
  </main>
</body>
</html>